.product__list--container {
  padding: 3rem 2rem;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}
.product__list {
  list-style: none;
}

.product {
  max-width: 12.5rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

.product:hover {
  transform: scale(1.1);
}

.product__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__action span {
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.product__rating {
  font-size: 0.8rem;
}

.mat-card-header {
  justify-content: space-between;
}
