.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 10rem;
  height: 100vh;
  background-color: #dee2e6;
}
.checkbox {
  list-style: none;
  align-self: flex-start;

  margin: 0;
}

.checkbox li {
  margin-bottom: 1rem;
}

// .raiting__item {
//   // display: flex;
//   // flex-flow: ;
// }
