.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 10rem;
  height: 100%;
  background-color: #dee2e6;
}
.checkbox {
  list-style: none;
  align-self: flex-start;
  margin: 0;
}

.radio {
  list-style: none;
  align-self: flex-start;
  margin: 0;
}

.radio__btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkbox li {
  margin-bottom: 1rem;
}
