<div class="sidebar">
  <h3>Fillters</h3>

  <h5>Price</h5>
  <ul class="checkbox">
    <li *ngFor="let priceFilter of priceFilters">
      <input
        type="{{ priceFilter.type }}"
        (change)="onPriceChange(priceFilter, $any($event.target).checked)"
      />
      {{ priceFilter.price }}
    </li>
  </ul>

  <h5>Rating</h5>
  <ul class="checkbox">
    <li *ngFor="let ratingFilter of ratingFilters" class="raiting__item">
      <input
        type="{{ ratingFilter.type }}"
        (change)="onRatingChange(ratingFilter, $any($event.target).checked)"
      />
      {{ ratingFilter.stars }}
      <span class="star">⭐</span>
    </li>
  </ul>
</div>
