@media screen and (max-width: 599px) {
  .nav__links--container {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .btn__sidebar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

.nav__container {
  width: 100vw;
}

.toolbar {
  display: flex;
  align-items: center;
}

.nav__links--container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav__search-bar {
  width: 50rem;
  height: 1.5rem;
  padding: 0 2rem;
  margin-left: auto;
  border-radius: 100px;
}
.nav__search-bar:focus {
  outline: none;
  border: 3px solid #ffd740;
}
