@media screen and (max-width: 599px) {
  .nav__links--container {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .btn__sidebar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #fff;
}
.toolbar {
  overflow: hidden;
}

.nav__links--container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
